<!DOCTYPE html>
<html lang="en">

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>
  <div class="main-body">
    {{>header}}
    <p>This site was created by akshay. It uses data from mapbox.com and darksky.net'</p>
    <img class-"portrait" src="/img/campfire1.jpg" />
  </div>

  {{>footer}}
</body>

</html>